RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]

# Allow execution of PHP files
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>